<!DOCTYPE html>
<html lang="es">
<head>
	<title>TecnoGEEK</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="/static/normalize.css" >
	<link rel="stylesheet" href="/static/estilos.css" />
	<link href="images/favicon.png" rel="icon" type="images/vnd.microsoft.icon"/> 
	<link rel="stylesheet" href="/static/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<h1 id="titulo_header"><a href="/">TECNOGEEK</a></h1>
    </header>
	{% include 'menu.html' %}
	<aside id="bienvenida">
	    <h2>Síguenos y comparte</h2>
		<ul class="social">
			<img src="/static/social/facebook.png" alt="Facebook" />
			<img src="/static/social/twitter.png" alt="Twitter" />
			<img src="/static/social/google.png" alt="Google" />
			<a href="https://github.com/Yilson/TecnoGeek/"><img src="/static/social/git.png" alt="Github" /></a>
		</ul>
	</aside>
	<section id="contenido">
	    <div class="itemb">
		<figure class="imagen_bt">
				<img  src="/media/A.jpg" width="400" height="300" />
			</figure>
			<h2 class="titulo_item">
				TecnoGEEK!
			</h2>
		   <p class="conte">Lo mejor de lo mejor!</p>
		</div>
	</section>
	<footer>
		<p><strong>Powered by JimRod!</strong></p>
		<p>TecnoGeek 2014 ®</p>
	</footer>
</body>
</html>








