{% block barra_lateral %}
{% if not request.user.is_authenticated %}

		<h2>Registrate!!!</h2>
		<p>Es importante registrarte</p>
		<a id="registro" href="{% url "nuevo_usuario"  %}">Registrate aquí</a>

		
		<h2>Síguenos y comparte</h2>
		<ul class="social">
			<img src="/static/social/facebook.png" alt="Facebook" />
			<img src="/static/social/twitter.png" alt="Twitter" />
			<img src="/static/social/google.png" alt="Google" />
			<a href="https://github.com/Yilson/TecnoGeek/"><img src="/static/social/git.png" alt="Github" /></a>
		</ul>
		
		<hr />
		<h2>Inicia Sessión</h2>
		<p>Entra haciendo clic debajo</p>
		<a id="registro" href="{% url "ingresar"  %}">Ingresa aquí</a>
		
		{% else %}
		
		<h2>Hola, {{request.user}}</h2>
		
		<p>Bienvenido a TecnoGeek!!</p>
		<a id="registro">Comparte el conocimiento</a>
		<p id="mensaje_registro">Siguenos!!!</p>
		
		<ul class="social">
			<li><img src="/static/social/facebook.png" alt="Facebook" /></li>
			<li><img src="/static/social/twitter.png" alt="Twitter" /></li>
			<li><img src="/static/social/google.png" alt="Google" /></li>
			<li><a href="https://github.com/Yilson/TecnoGeek/"><img src="/static/social/git.png" alt="Github" /></a></li>
		</ul>
		
		<p><a href="{% url "cerrar"  %}">Cerrar Sessión</a></p>
		
		{% endif %}
{% endblock %}