@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
a
{
	color: #DD4F24;
}
body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "PT Sans", Arial;
	font-size: 16px;
	margin: 0;
}
article:hover
{
	-webkit-box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
	box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
}
footer
{
	background: #434343;
	color: #A7A7A7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
	
}
footer p
{
	margin: 0;
}
/************Fin del footer*******************/

/************************HEADER************/
header
{
	background: #434343;
	color: white;
	margin: 0;
	padding: 0.5em;
}


header h1
{
	font-size: 22px;
	font-weight: normal;
	margin: 1em 20px 1em 35px;
	display: block;
}
header h1 a
{
	text-decoration:none;
	color:white;
}
/*************************Fin HEADER******************/


/*********************************Menu******************************/
nav
{
	background: #878787;
	font-size: 0.9em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
	vertical-align: top;
	position:relative;
	
}
nav ul li a
{
	color: white;
	display: block;
	padding:7px 4px 7px 4px;
	/*padding: 0.5em 0;*/
	margin-left:5px;
}
nav ul li a:hover
{
	background-color:#22BCE0;
	color:white;
	border-radius:4px;
	
	text-decoration:none;
}
nav > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 14px 0 16px 0;
  background-color: #878787;
  text-align: left;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -50px;
  width: 150px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
nav > ul > li:hover > ul {
  opacity: 1;
  top: 30px;
  visibility: visible;
}
nav > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 60%;
  margin-left: -42px;
}
nav > ul > li > ul > li  {
  display: block;
  padding-left:0.2em;
  text-decoration:none;
}
nav > ul > li > ul > li  a {
  text-decoration:none;
}

nav #publicar_nav
{
	background: #DD4F24;
	float: right;
	margin-right: 0; 
	padding-right: 1em;
	
}

nav #publicar_nav a
{
	display: inline-block;
	/*padding: 0.4em 0.3em;*/
	text-decoration: none;
}
nav #publicar_nav  a:hover
{
	background-color:#DD4F24;
}

/*******************************************Fin Menu*****************************/
nav.paginador {

	margin-top:-15px;
	text-align:center;
    border-radius: 4px;
    padding:5px
}

nav.paginador a {
    color: #000;
	text-shadow:1px 2px 2px  #333;
	text-decoration:none;
	margin:0px 5px 0px 5px;;
}
#bienvenida
{
	display: none;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px #22BCE0 solid;
	margin-bottom: 2.2em;
	min-height: 250px;
}

#contenido .item p
{
	color: #7A7A7A;
	font-size: 0.9em;
}
#contenido .item .conte{
text-align:justify;
 padding-right:10px;
padding-left:10px;
}
#contenido .item .conte_post{
text-align:justify;
 padding-right:10px;
padding-left:10px;
}

#contenido .item .datos_item
{
	text-align: right;
}
#contenido .item .datos_item .comentarios_item
{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	position: relative;
	text-decoration: none;
}
#contenido .item .datos_item .comentarios_item:after{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left :10px;
	position: absolute;
	top:100%;
}
#contenido .item  .datos_item .tag_item
{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
	margin-left:5px;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_post			 /*  img del post */
{
   float:none;
	padding:0;
	margin:0;
}
#contenido .item .imagen_post img 				 /*  img del post */
{
	max-width:80%;
	height:;
	padding:0.5em;
}
#contenido .item_about .imagen_item img 
{
	max-width:70%;
	
	padding:0.5em;
}
#contenido .itema_about .imagen_item_about img
{
	width: 400px;
	height:800px;
	padding:10px;

}
#contenido .item .imagen_item img
{
	width: 250px;
	height:200px;
	padding:10px;
	-webkit-box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
	box-shadow:1px 2px 4px 3px rgba(0, 0, 0, 0.4);
}
#contenido .item .titulo_item
{
	font-size: 1.3em;
	font-style: italic;
	padding: 0.5em 0.5em 0;
}
#contenido .item .titulo_item a
{
	
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin: 3px 0 0 0;
	padding: 0.5em 0;
	/*position: absolute;*/
	
	top: 100%;
	width: 110px;
}
#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion > span
{
    margin:0;
	padding-top:0;
	padding-right:0;
	padding-left:2px;
	padding-bottom:0;
	font-weight:bold;
}
#contenido .item .votacion .down:after,
#contenido .item .votacion .up:after
{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}
#contenido .item .votacion .down:after
{
	color: red;
	content: "\e001";
}
#contenido .item .votacion .up:after
{
	color: green;
	content: "\e002";
}